.RelatorioSection {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    font-family: "Roboto";
    padding-top: 1rem;
}

.RelatorioSection p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-weight: 900;
}

.RelatorioSection .title-relatorio {
    background-color: var(--button-color);
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

.RelatorioSection .title-relatorio h1 {
    font-size: 1.5rem;
}

.RelatorioSection .filtro-periodo select{
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.RelatorioSection .filtro-periodo button {
    background-color: var(--button-color);
    color: white;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.RelatorioSection .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem 0;
}

.RelatorioSection .action-buttons button {
    background-color: var(--button-color);
    color: white;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}

.relatorio-content {
    width: 100%;
    padding: 20px;
}
  
.title-relatorio {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.filtro-periodo {
    margin-bottom: 20px;
}
  
.filter {
    margin-right: 10px;
}
  
.tabela-produtos {
    width: 100%;
    border-collapse: collapse;
}
  
.tabela-produtos thead {
    width: 90%;
    background-color: var(--button-color);
}
  
.tabela-produtos th {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}
  
.tabela-produtos tbody tr {
    border-bottom: 1px solid #ddd;
}
  
.tabela-produtos td {
    padding: 10px;
}
  
.grafico-vendas {
    margin-top: 20px;
}

.grafico-mais-vendidos h2,
.tabela-saida-baixa h2,
.tabela-mais-vendidos h2,
.tabela-produtos h2,
.grafico-vendas h2 {
    margin: 1rem;
    font-size: 1.2rem;
    background-color: white;
    color: var(--button-color);
    display: inline-block;
    padding: .5rem;
    border-radius: 5px;
}

.tabela-mais-vendidos {
    width: 100%;
}

.tabela-mais-vendidos table {
    width: 100%;
}